* {
    box-sizing: border-box;
  }

[class*="col-"] {
    width: 100%;
}

body {
    color: #0C090D;
    background-color: #FDFFFC;
}

.filler-col {
    display: none;
}

#text-area {
    font-family: Inconsolata, sans-serif;
    padding: 3px 5px 15px 5px;
}

#btns {
    text-align: center;
}

.nav-btn, #form-submit {
    border-radius: 10px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px;
    margin: 0px 10px;
    background-color: #56CBF9;
    border-top: #54b3cb 1px solid;
    border-left: #54b3cb 1px solid;
    border-bottom: #0267C1 1px solid;
    border-right: #0267C1 1px solid;
}

.active-btn {
    background-color: #0267C1;
}

.nav-btn:hover, #form-submit:hover {
    cursor: pointer;
    background-color: #0267C1;
    color: #F9C22E;
}

.img-wrap {
    text-align: center;
}

#my-face {
    border-radius: 25px;
    margin: 10px;
}

#content-area {
    text-align: center;
    margin: 3px;
}

p {
    text-align: left;
    padding: 5px;
    font-family: Raleway, sans-serif;
}

a {
    color: #F9C22E;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Social */

#social-wrap {
    width: 100%;
    margin: 0 auto;
    height: 65px;
    text-align: center;
    background-color: #FDFFFC;

    z-index: 2;
}

.social-item {
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.social-image {
    width: 30px;
    padding: 5px;
}

.social-item:hover {
    opacity: .3;
    cursor: pointer;
}

.foot {
    font-size: 12px;
    margin: 3px;
}

/* Projects */

.project-head {
    padding: 3px;
    font-family: Inconsolata, sans-serif;

}

.card-wrap {
    display: inline-block;
    margin: 15px;
}

.card-file {
    color: #0C090D;
    background-color: #FFF8F0;
    border: #0C090D 2px solid;
    width: 225px;
    /* height: 300px; */
    border-radius: 4px;
    padding: 2px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.project-image {
    max-width: 180px;
}

.project-link {
    font-family: Inconsolata, sans-serif;
}

/* Contact Stuff */

form {
    text-align: left;
    padding: 10px;
    font-family: Inconsolata, sans-serif;
}

input, textarea {
    width: 80%;
}

#bff-img {
    border-radius: 15px;
}

#form-submit {
    width: 85px;
    margin: 0;
}

/* For Desktop */
@media only screen and (min-width: 700px) {
      /* Grid */
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .filler-col {
        display: inline-block;
    }

    #text-area {
        padding: 50px 5px;
    }

    .card-file {
        height: 300px;
    }

}

/* color ref
black: #0C090D
white: #F7F4EA
French BLue: #0267C1
orchid: #53B3CB
Saffron: #F9C22E